$titleFontColor: #fff;

.app__header {
  width: 100%;
  font-family: Ubuntu-Bold;

  .app__title {
    font-size: 102px;
    width: 775px;
    display: flex;
    flex-direction: column;
    margin: 65px auto 0;
    color: $titleFontColor;
  }

  .title__weather {
    align-self: flex-start;
    line-height: 90px;
  }
  .title__forecast {
    align-self: flex-end;
    line-height: 90px;
  }
}
