$appBackgroundColor: #373af5;

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('../assets/Fonts/Ubuntu-Bold.ttf');
}

* {
  margin: 0;
  border: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: $appBackgroundColor;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 0;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: url('../assets/Background/Academy-Weather\ forecast-Bg-up.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url('../assets/Background/Academy-Weather\ forecast-Bg-buttom.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }
}
